<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroScout</title>

    <link rel="stylesheet" href="./css/burger.css">
    <link rel="stylesheet" href="./css/critical.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/entomophages.css">
    <link rel="stylesheet" href="./css/media.css">
</head>
<body>
    <!--------MAIN SECTION --------->
    <section class="main_entom">
        <div class="container h-100">
            <div class="entom__row">
                <div class="entom__desc">
                    <h1 class="entom__title">
                        Высокоэффективные Энтомофаги
                    </h1>
                    <p class="entom__subtitle">
                        Внесение энтофагов при помощи БПЛА увеличивает эффективность защиты растений до 90%
                    </p>
                </div>
                <div class="entom__cards">
                    <div class="entom__card">
                        <div class="entom__card-img-block">
                            <img class="entom__card-img" src="./assets/entomophages/icons/iconSoy.svg"
                                alt="iconSoy.svg">
                        </div>
                        <p class="entom__card-title">до <span class="count" data-count="90">0</span>% сои</p>
                    </div>
                    <div class="entom__card">
                        <div class="entom__card-img-block">
                            <img class="entom__card-img" src="./assets/entomophages/icons/iconBeet.svg"
                                alt="iconBeet.svg">
                        </div>
                        <p class="entom__card-title">до <span class="count" data-count="85">0</span>% сахарной свеклы
                        </p>
                    </div>
                    <div class="entom__card">
                        <div class="entom__card-img-block">
                            <img class="entom__card-img" src="./assets/entomophages/icons/iconRape.svg"
                                alt="iconRape.svg">
                        </div>
                        <p class="entom__card-title">до <span class="count" data-count="70">0</span>% рапса</p>
                    </div>
                    <div class="entom__card">
                        <div class="entom__card-img-block">
                            <img class="entom__card-img" src="./assets/entomophages/icons/iconSunflower.svg"
                                alt="iconSunflower.svg">
                        </div>
                        <p class="entom__card-title">до <span class="count" data-count="85">0</span>% подсолнуха</p>
                    </div>
                    <div class="entom__card">
                        <div class="entom__card-img-block">
                            <img class="entom__card-img" src="./assets/entomophages/icons/iconCorn.svg"
                                alt="iconCorn.svg">
                        </div>
                        <p class="entom__card-title">до <span class="count" data-count="80">0</span>% кукурудзы</p>
                    </div>
                    <div class="entom__card">
                        <div class="entom__card-img-block">
                            <img class="entom__card-img" src="./assets/entomophages/icons/iconFruits.svg"
                                alt="iconFsruits.svg">
                        </div>
                        <p class="entom__card-title">до <span class="count" data-count="90">0</span>% овощных и плодовых
                            культур</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------MAIN SECTION END--------->

    <!--------SERVIES SECTION --------->
    <section class="services_entom">
        <div class="container">
            <div class="general__links-crumbs">
                <a class="general__link-crumb" href="index.html">Главная</a>
                <span class="general__slash">/</span>
                <a class="general__link-crumb" href="entomophages.html">Энтомофаги</a>
            </div>
            <div class="general__title-block">
                <h1 class="general__back-title">Об Услуге</h1>
                <h4 class="general__front-title">Энтомофаги</h4>
            </div>
            <div class="services_entom__row">
                <div class="general__dropdown-content">
                    <!--general__dropdown-content-->
                    <p class="general__dropdown-subtitle">
                        <!--general__dropdown-subtitle-->Компания STS.center применяет высокотехнологичные агродроны и
                        БПЛА, которые модернизированы и собраны нашими инженерами для сельского и лесного хозяйства, а
                        также для промышленности. В СТС Центр работают опытные агрономы, энтомологи, пилоты, менеджеры и
                        инженеры. Сегодня мы имеем один из самых современных парков дронов в России, что позволяет нам
                        выполнять работы широкого спектра от простой аэрофотосъемки до лидарного сканирования местности
                        и тепловизионного контроля. Внедрение беспилотных технологий в вашем бизнесе поможет сэкономить
                        время и деньги, а также позволит получить большое преимущество перед вашими конкурентами.
                    </p>
                </div>
                <div class="general__dropdown-show">
                    <!--general__dropdown-show-->
                    <div class="general__dropdown-arrow">
                        <!--general__dropdown-arrow-->
                        <img class="general__dropdown-img" src="./assets/aboutCompanyArrow.png" alt="arrow image">
                        <!--general__dropdown-img-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------SERVICES SECTION END--------->

    <!--------ADVANTAGES SECTION --------->
    <section class="advantages_entom">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Плюсы использования</h1>
                <h4 class="general__front-title">Приемущества внесения энтомофаги</h4>
            </div>
            <div class="advantage__row">
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/entomophages/icons/iconRuble.svg"
                                alt="iconRuble.svg" />
                        </div>
                        <h4 class="advantage__card-title">Квалифицированные сотрудники</h4>
                    </div>
                    <p class="advantage__card-desc">Все наши сотрудники имеют многолетний опыт работы в сфере
                        беспилотной авиации. Нами было реализовано множество проектов различной тематики и самой
                        различной сложности. </p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/entomophages/icons/IconWallet.svg"
                                alt="IconWallet.svg" />
                        </div>
                        <h4 class="advantage__card-title">Высокотехнологичное оборудование </h4>
                    </div>
                    <p class="advantage__card-desc">Наша компания использует современное оборудование, которое
                        обеспечивает высокое качество в выполнении поставленных задач. </p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/entomophages/icons/iconDrone.svg"
                                alt="iconDrone.svg" />
                        </div>
                        <h4 class="advantage__card-title">Экономия</h4>
                    </div>
                    <p class="advantage__card-desc">Использование беспилотных технологий экономит вам много времени и
                        денег. За счет отсутствия технологической колеи сохраняется до 6% урожая. Снижение расхода
                        препаратов до 30%</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/entomophages/icons/iconDrones.svg"
                                alt="iconDrones.svg" />
                        </div>
                        <h4 class="advantage__card-title">Оперативность</h4>
                    </div>
                    <p class="advantage__card-desc">
                        За рабочую смену наши специалисты способны защитить более 1000
                        гектар ваших полей, кустарников и деревьев.
                    </p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/entomophages/icons/iconInsect.svg"
                                alt="iconInsect.svg" />
                        </div>
                        <h4 class="advantage__card-title">Собственное производство </h4>
                    </div>
                    <p class="advantage__card-desc">Мы разрабатываем и производим беспилотные летательные аппараты,
                        поэтому знаем все тонкости их работы и можем настроить их под конкретные задачи и потребности
                        клиентов.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/entomophages/icons/iconDroneone.svg"
                                alt="iconDroneone.svg" />
                        </div>
                        <h4 class="advantage__card-title">Свой сервис</h4>
                    </div>
                    <p class="advantage__card-desc">Любой наш аппарат можно сдать на плановое техническое обслуживание
                        или же в ремонт в наш собственный сервис,
                        который гарантирует качество и оперативность выполнения работ. </p>
                </div>
            </div>
        </div>
    </section>
    <!--------ADVANTAGES SECTION END--------->

    <!------INSECT SECTION -------->
    <section class="insect">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Проблемы кторые мы решаем</h1>
                <h4 class="general__front-title">С помощью энтомофагов мы решаем следующие проблемы:</h4>
            </div>
            {{#each results}}
            <div class="insect__subtitle-block">
                <p class="trichogram_entom__subtitle">
                    {{this.description}}
                </p>
            </div>
            <div class="insect__row">
                <div class="insect__card">
                    <div class="insect__img-block">
                        <img class="insect__img" src="./assets/entomophages/insectImg/{{this.img}}"
                            alt="trichogram.jpg">
                    </div>
                    <div class="insect__desc">
                        <div class="insect__desc-subtitle-block">
                            <p class="insect__desc-subtitle">
                                {{this.title}}
                            </p>
                            <p class="insect__desc-subtitle"> Для расселения трихограммы используется специальная
                                автоматизированная система, которая
                                устанавливается на дроны мультироторного типа.</p>
                            <p class="insect__desc-subtitle">
                                За 60 минут полета дрон со специальным дозатором обрабатывает до 100 гектаров.
                                Эффективность
                                комплексной защиты растений с помощью
                                энтомофагов достигает 90%.
                            </p>
                        </div>
                        <div class="insect__desc-menu">
                            <div class="insect__desc-title-block">
                                <div class="insect__menu-img-block">
                                    <img class="insect__menu-img" src="./assets/entomophages/icons/iconBatterfly.svg"
                                        alt="iconBatterfly.svg">
                                </div>
                                <p class="insect__menu-subtitle">Трихограмма эффективна против таких вредителей:
                                </p>
                            </div>
                            <ul class="insect__desc-list">
                                <li class="insect__desc-item">
                                    <img class="insect__check-icon" src="./assets/entomophages/icons/check.png"
                                        alt="check.png">
                                    <p>Совки</p>
                                </li>
                                <li class="insect__desc-item">
                                    <img class="insect__check-icon" src="./assets/entomophages/icons/check.png"
                                        alt="check.png">
                                    <p>Мотыльки</p>
                                </li>
                                <li class="insect__desc-item">
                                    <img class="insect__check-icon" src="./assets/entomophages/icons/check.png"
                                        alt="check.png">
                                    <p>Плодожорки</p>
                                </li>
                                <li class="insect__desc-item">
                                    <img class="insect__check-icon" src="./assets/entomophages/icons/check.png"
                                        alt="check.png">
                                    <p>Огневки</p>
                                </li>
                                <li class="insect__desc-item">
                                    <img class="insect__check-icon" src="./assets/entomophages/icons/check.png"
                                        alt="check.png">
                                    <p>Листовертки</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <!------INSECT SECTION END-------->

    <script src="./js/burger.js"></script>
    <script src="./js/animCount.js"></script>
    <script src="./js/dropdown.js"></script>
    <script src="./data/content.js"></script>
    <script src="./js/addCardToBox.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>