<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroScout</title>
    <link type="text/css" rel="stylesheet" hred="./css/burger.css">
    <link type="text/css" rel="stylesheet" href="./css/critical.css">
    <link type="text/css" rel="stylesheet" href="./css/index.css">
    <link type="text/css" rel="stylesheet" href="./css/media.css">
</head>
<body>
    <!-------- MAIN SECTION --------->
    <main class="main">
        <div class="main__front-block">
            <div class="container">
                <div class="main__row">
                    <div class="main__title-block">
                        <h1 class="main__title">AgroScout - беспилотные технологии для сельского хозяйства и
                            промышлености</h1>
                    </div>
                    <div class="main__card-block">
                        <div class="main__card">
                            <h4 class="main__card-title">50 000 Га</h4>
                            <p class="main__card-subtitle">ежегодной обработки</p>
                        </div>
                        <div class="main__card">
                            <h4 class="main__card-title">30%</h4>
                            <p class="main__card-subtitle">экономии средств</p>
                        </div>
                        <div class="main__card">
                            <h4 class="main__card-title">10 команд</h4>
                            <p class="main__card-subtitle">специалистов</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-------- MAIN SECTION END--------->

    <!-------- ADVANTAGE SECTION --------->
    <section class="advantage">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Почему нам доверяют?</h1>
                <h4 class="general__front-title">Наши преимущества</h4>
            </div>
            <div class="advantage__row">
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/advantagesIcons/users.svg" alt="users icon" />
                        </div>
                        <h4 class="advantage__card-title">Квалифицированные сотрудники</h4>
                    </div>
                    <p class="advantage__card-desc">Все наши сотрудники имеют многолетний опыт работы в сфере
                        беспилотной авиации. Нами было реализовано множество проектов различной тематики и самой
                        различной сложности. </p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/advantagesIcons/virus.svg" alt="virus icon" />
                        </div>
                        <h4 class="advantage__card-title">Высокотехнологичное оборудование </h4>
                    </div>
                    <p class="advantage__card-desc">Наша компания использует современное оборудование, которое
                        обеспечивает высокое качество в выполнении поставленных задач. </p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/advantagesIcons/rubl.svg" alt="rubl icon" />
                        </div>
                        <h4 class="advantage__card-title">Экономия</h4>
                    </div>
                    <p class="advantage__card-desc">Использование беспилотных технологий экономит вам много времени и
                        денег. За счет отсутствия технологической колеи сохраняется до 6% урожая. Снижение расхода
                        препаратов до 30%</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/advantagesIcons/settings.svg"
                                alt="settings icon" />
                        </div>
                        <h4 class="advantage__card-title">Оперативность</h4>
                    </div>
                    <p class="advantage__card-desc">
                        За рабочую смену наши специалисты способны защитить более 1000
                        гектар ваших полей, кустарников и деревьев.
                    </p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/advantagesIcons/drone.svg" alt="drone icon" />
                        </div>
                        <h4 class="advantage__card-title">Собственное производство </h4>
                    </div>
                    <p class="advantage__card-desc">Мы разрабатываем и производим беспилотные летательные аппараты,
                        поэтому знаем все тонкости их работы и можем настроить их под конкретные задачи и потребности
                        клиентов.</p>
                </div>
                <div class="advantage__card">
                    <div class="advantage__card-header">
                        <div class="advantage__card-img-block">
                            <img class="advantage__img" src="./assets/advantagesIcons/servicesses.svg"
                                alt="servicesses icon" />
                        </div>
                        <h4 class="advantage__card-title">Свой сервис</h4>
                    </div>
                    <p class="advantage__card-desc">Любой наш аппарат можно сдать на плановое техническое обслуживание
                        или же в ремонт в наш собственный сервис,
                        который гарантирует качество и оперативность выполнения работ. </p>
                </div>
            </div>
        </div>
    </section>
    <!-------- ADVANTAGE SECTION END--------->

    <!-------- PRODUCTION SECTION -----
    <section class="production">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Наши предложения</h1>
                <h4 class="general__front-title">Наша продукция</h4>
            </div>
            <div class="production__row">
              
            </div>
        </div>
    </section>---->
    <!-------- PRODUCTION SECTION END--------->

    <!-------- SERVICES SECTION -------
    <section class="services">
        <div class="services__content">
            <h1 class="services__title">
                Оказываем услуги!
            </h1>
            <p class="services__subtitle">Принимаем заявки по биологической и химической защите растений
                дронами, картографии и мониторингу.</p>
            <a class="services__btn general__btn" href="/">Оставить заявку</a>
        </div>
    </section>-->
    <!-------- SERVICES SECTION END--------->

    <!-------- ABOUT COMPANY SECTION--------->
    <section class="about_company">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Кто мы такие</h1>
                <h4 class="general__front-title">О компании</h4>
            </div>
            <div class="about_company__row">
                <div class="general__dropdown-content">
                    <p class="general__dropdown-subtitle">Компания STS.center применяет высокотехнологичные агродроны и
                        БПЛА, которые модернизированы и
                        собраны нашими инженерами для сельского и лесного хозяйства, а также для промышленности. В СТС
                        Центр работают опытные агрономы, энтомологи, пилоты, менеджеры и инженеры. Сегодня мы имеем один
                        из самых современных парков дронов в России, что позволяет нам выполнять работы широкого спектра
                        от простой аэрофотосъемки до лидарного сканирования местности и тепловизионного контроля.
                        Внедрение беспилотных технологий в вашем бизнесе поможет сэкономить время и деньги, а также
                        позволит получить большое преимущество перед вашими конкурентами.</p>
                </div>
                <div class="general__dropdown-show">
                    <div class="general__dropdown-arrow">
                        <img class="general__dropdown-img" src="./assets/aboutCompanyArrow.png" alt="arrow image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------- ABOUT COMPANY SECTION END--------->

    <!-------- LOCATION SECTION--------->
    <section class="location">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Где мы работаем</h1>
                <h4 class="general__front-title">Регионы присутствия</h4>
            </div>
            <div class="location__row">
                <div class="location__card-left">
                    <ol class="location__menu" type="1">
                        <div>
                            <li class="location__item">
                                <p class="location__title">Московская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Ростовская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Краснодарский край</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Ставропольский край</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Северная Осетия</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Кабардино-Балкария</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Пензеская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Белгородская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Саратовская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Воронежская область</p>
                            </li>
                            <li class="location__item">
                                <p>Волгоградская область</p>
                            </li>
                            <li class="location__item">
                                <p>Астраханская область</p>
                            </li>
                        </div>
                        <div class="">
                            <li class="location__item">
                                <p class="location__title">Самарская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Липецкая область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Орловская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Курская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Ульяновская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Карачаево-Черкессия</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Брянская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Республика Татарстан</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Тамбовская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Тульская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Калужская область</p>
                            </li>
                            <li class="location__item">
                                <p class="location__title">Республика Крым</p>
                            </li>
                        </div>
                    </ol>
                </div>
                <div class="location__card-right">
                    <div class="location__img-block">
                        <img class="location__img" src="./assets/mapRus.svg" alt="map russia">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------- LOCATION SECTION END--------->

    <!-------- PARTNERS SECTION --------->
    <section class="partners">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Наши клиенты</h1>
                <h4 class="general__front-title">Партнеры</h4>
            </div>
            <div class="partners__row">
                <div class="partners__card">
                    <div class="partners__img-block">
                        <img class="partners__img" src="./assets/partnersImg/logo_bionovatic.svg"
                            alt="logo_bionovatic.svg">
                    </div>
                </div>
                <div class="partners__card">
                    <div class="partners__img-block">
                        <img class="partners__img" src="./assets/partnersImg/logo_bayer.svg" alt="logo_bayer.svg">
                    </div>
                </div>
                <div class="partners__card">
                    <div class="partners__img-block">
                        <img class="partners__img" src="./assets/partnersImg/logo_corteva.svg" alt="logo_corteva.svg">
                    </div>
                </div>
                <div class="partners__card">
                    <div class="partners__img-block">
                        <img class="partners__img" src="./assets/partnersImg/logo_kws.svg" alt="logo_kws.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-------- PARTNERS SECTION END--------->

    <!-------- NEWS SECTION --------->
    <section class="news">
        <div class="container">
            <div class="general__title-block">
                <h1 class="general__back-title">Что у нас нового</h1>
                <h4 class="general__front-title">Новости</h4>
            </div>
            <div class="news__row">
                <div class="news__card">
                    <div class="news__img-block">
                        <img class="news__img" src="./assets/newsImg/imgNews_1.jpg" alt="imgNews_1.jpg">
                    </div>
                    <div class="news__title-block">
                        <h4 class="news__title">
                            Дроны – будущее сельского хозяйства
                        </h4>
                        <p class="news__subtitle">Новые технологии не обходят стороной и самую консервативную отрасль –
                            сельское хозяйство.
                            Согласно прогнозам международной общественной организации Association for Unmanned Vehicle
                            Systems International, в скором времени агросектор станет крупнейшим потребителем дронов –
                            беспилотных летательных аппаратов (БПЛА).
                        </p>
                    </div>
                </div>
                <div class="news__card">
                    <div class="news__img-block">
                        <img class="news__img" src="./assets/newsImg/imgNews_2.jpg" alt="imgNews_2.jpg">
                    </div>
                    <div class="news__title-block">
                        <h4 class="news__title">
                            Зачем нужны беспилотники в сельском хозяйстве?
                        </h4>
                        <p class="news__subtitle">Использование дронов в земледелии и в целом в сельском хозяйстве -
                            одно из наиболее перспективных направлений применения этой технологии. БЛА могут быть
                            эффективно использованы для планирования и контроля этапов сельскохозяйственного
                            производства, а также для химической обработки посевов и других растений.
                        </p>

                    </div>
                </div>
                <div class="news__card">
                    <div class="news__img-block">
                        <img class="news__img" src="./assets/newsImg/imgNews_3.jpg" alt="imgNews_3.jpg">
                    </div>
                    <div class="news__title-block">
                        <h4 class="news__title">
                            Создание цифровых карт и контуров полей
                        </h4>
                        <p class="news__subtitle">Многие руководители агрохозяйств только приблизительно знают площади
                            своих полей, и это негативно влияет на точность расчетов внесения минудобрений и подсчета
                            полученной продукции. Чтобы эффективно управлять сельскохозяйственным предприятием
                            потребуется точное знание посевных площадей.
                        </p>
                        
                    </div>
                </div>
            </div>
    </section>
    <!-------- NEWS SECTION END--------->


    {{{body}}}
    <!--SCRIPT FOR BURGER MENU-->
    <script src="./js/burger.js"></script>
    <!--SCRIPT FOR DROPDOWN-->
    <script src="./js/dropdown.js" type="module"></script>
    <!--SCRIPT FOR DATA-->
    <script src="./js/content.js"></script>
    <!--SCRIPT FOR ADD CARD TO BOX-->
    <script src="./js/addCardToBox.js"></script>
    <!--SCRIPT FOR MAIN-->
    <script src="../js/index.js" type="module"></script>

</body>
</html>