<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroScout</title>
    <link rel="stylesheet" href="../css/burger.css">
</head>
<body>
    <!-------- HEADER SECTION --------->
    <header>
        <div class="container">
            <div class="row">
                <div class="header__logo-block">
                    <div class="header__logo">
                        <img class="header__logo-img" src="./assets/LogoAgroScout.png" alt="image logo" />
                    </div>
                    <div class="header__phone-block">
                        <!------------- PHONE ICON ------------->
                        <span class="header__icon">
                            <img src="./assets/icons/phone.svg" alt="phone image">
                        </span>
                        <!------------- PHONE ICON END------------->
                        <p class="header__number">+7861 21791 18</p>
                    </div>
                </div>
                <div class="header__card">
                    <ul class="header__card-right-block">
                        <li class="header__card-right-item">
                            <a class="header__social-link" href="/">
                                <!------------- VK ICON ------------->
                                <img src="./assets/icons/vk.svg" alt="vk images">
                                <!------------- VK ICON END------------->
                            </a>
                        </li>
                        <li class="header__card-right-item">
                            <a class="header__social-link" href="/">
                                <!------------- INSTAGRAM ICON ------------>
                                <img src="./assets/icons/instagram.svg" alt="instagram images">
                                <!------------- INSTAGRAM ICON END------------->
                            </a>
                        </li>
                        <li class="header__card-right-item">
                            <a class="header__social-link" href="/">
                                <!------------- TIKTOK ICON ------------->
                                <img src="./assets/icons/tiktok.svg" alt="tiktok images">
                                <!------------- TIKTOK ICON END------------->
                            </a>
                        </li>
                    </ul>

                    <ul class="header__card-right-block">
                        <li class="header__card-right-item">
                            <div class="card_block">
                                <div class="modal_window">

                                </div>
                            </div>

                        </li>
                        <li class="header__card-right-item">
                            <!------------- HEADER MENU ------------->
                            <div class="burger">
                            </div>
                            <!------------- HEADER MENU END------------->
                            <div class="mob__menu">
                                <ul class="mob__list">
                                    <li class="mob__item">
                                        <div class="mob__img-block">
                                            <img class="mob__img" src="./assets/mobileImg/home.png" alt="home.png">
                                        </div>
                                        <a class="mob__link" href="/home">Главная</a>
                                    </li>
                                    <li class="mob__item">
                                        <div class="mob__img-block">
                                            <img class="mob__img" src="./assets/mobileImg/drone_2.png"
                                                alt="drone_2.png">
                                        </div>
                                        <a class="mob__link" href="/drones">Каталог продукции</a>
                                    </li>
                                    <li class="mob__item">
                                        <div class="mob__img-block">
                                            <img class="mob__img" src="./assets/mobileImg/news.png" alt="news.png">
                                        </div>
                                        <a class="mob__link" href="/drug">Препараты</a>
                                    </li>
                                    <li class="mob__social-menu">
                                        <div class="mob__social-item">
                                            <a class="mob__social-link" href="/">
                                                <img src="./assets/icons/watsapp.svg" alt="watsapp.svg">
                                            </a>
                                        </div>
                                        <div class="mob__social-item">
                                            <a class="mob__social-link" href="/">
                                                <img src="./assets/icons/telegram.svg" alt="telegram.svg">
                                            </a>
                                        </div>
                                        <div class="mob__social-item">
                                            <a class="mob__social-link" href="/">
                                                <img src="./assets/icons/wechat.svg" alt="wechat.svg">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-------- HEADER SECTION END--------->
    {{{body}}}
    <!-------- FOOTER SECTION --------->
    <footer>
        <div class="container">
            <div class="footer__row">
                <div class="footer__card">
                    <div class="footer__img-block">
                        <img class="footer__img" src="./assets/LogoAgroScout.png" alt="LogoAgroScout.png">
                    </div>
                    <div class="footer__phone-block">
                        <img class="footer__icon" src="./assets/icons/phone.svg" alt="phone.svg">
                        <p class="footer__phone">+7861 21791 18</p>
                    </div>
                </div>
                <div class="footer__card">
                    <span class="footer__label">Подписывайтесь на наши соц.сети:</span>
                    <ul class="header__card-right-block">
                        <li class="header__card-right-item">
                            <a class="header__social-link" href="/">
                                <!------------- VK ICON ------------->
                                <img src="./assets/icons/vk.svg" alt="vk images">
                                <!------------- VK ICON END------------->
                            </a>
                        </li>
                        <li class="header__card-right-item">
                            <a class="header__social-link" href="/">
                                <!------------- INSTAGRAM ICON ------------>
                                <img src="./assets/icons/instagram.svg" alt="instagram images">
                                <!------------- INSTAGRAM ICON END------------->
                            </a>
                        </li>
                        <li class="header__card-right-item">
                            <a class="header__social-link" href="/">
                                <!------------- TIKTOK ICON ------------->
                                <img src="./assets/icons/tiktok.svg" alt="tiktok images">
                                <!------------- TIKTOK ICON END------------->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-------- FOOTER SECTION END--------->
</body>
</html>