<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main class="main_catalog">
        <div class="main_catalog__row">
            <div class="main_catalog__card slider__card-1">
                <div class="main_catalog__card-img-block">
                    <img class="main_catalog__card-img" src="./assets/catalog/agr_a22.jpg" alt="agr_a22.jpg">
                </div>
                <div class="container">
                    <div class="main_catalog__card-content">
                        <h1 class="main_catalog__title">Дрон опрыскиватель AGR A22</h1>
                        <ul class="main_catalog__list">
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/cartography/iconTime.svg"
                                    alt="iconTime.svg">
                                <p class="main_catalog__item-subtitle">Время полета 15 минут</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/icoFly.svg" alt="icoFly.svg">
                                <p class="main_catalog__item-subtitle">Скорость полета </p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/RTK.svg" alt="RTK.svg">
                                <p class="main_catalog__item-subtitle">Автономная работа</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconWidth.svg"
                                    alt="iconWidth.svg">
                                <p class="main_catalog__item-subtitle">Ширина захвата 8 м</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconFuel.svg"
                                    alt="iconFuel.svg">
                                <p class="main_catalog__item-subtitle">Емкость бака</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/IP67.svg" alt="IP67.svg">
                                <p class="main_catalog__item-subtitle">Водонепроницаемость</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_catalog__card slider__card-2">
                <div class="main_catalog__card-img-block">
                    <img class="main_catalog__card-img" src="./assets/catalog/xagP30.jpg" alt="xagP30.jpg">
                </div>
                <div class="container">
                    <div class="main_catalog__card-content">
                        <h1 class="main_catalog__title">Дрон картограф XAG P30</h1>
                        <ul class="main_catalog__list">
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/cartography/iconTime.svg"
                                    alt="iconTime.svg">
                                <p class="main_catalog__item-subtitle">Непрерывная работа 24/7</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/icoFly.svg" alt="icoFly.svg">
                                <p class="main_catalog__item-subtitle">Скорость полета </p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/RTK.svg" alt="RTK.svg">
                                <p class="main_catalog__item-subtitle">Автономная работа</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconWidth.svg"
                                    alt="iconWidth.svg">
                                <p class="main_catalog__item-subtitle">Ширина захвата 10 м</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconFuel.svg"
                                    alt="iconFuel.svg">
                                <p class="main_catalog__item-subtitle">Емкость бака 15 литров</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/IP67.svg" alt="IP67.svg">
                                <p class="main_catalog__item-subtitle">Водонепроницаемость</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_catalog__card slider__card-3">
                <div class="main_catalog__card-img-block">
                    <img class="main_catalog__card-img" src="./assets/catalog/dji_agras_T30.webp"
                        alt="dji_agras_T30.webp">
                </div>
                <div class="container">
                    <div class="main_catalog__card-content">
                        <h1 class="main_catalog__title">Инновационный дрон DJI Agras T30</h1>
                        <ul class="main_catalog__list">
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/cartography/iconTime.svg"
                                    alt="iconTime.svg">
                                <p class="main_catalog__item-subtitle">Непрерывная работа 24/7</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/icoFly.svg" alt="icoFly.svg">
                                <p class="main_catalog__item-subtitle">Максимальная скорость 10м/с-36км/ч</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/RTK.svg" alt="RTK.svg">
                                <p class="main_catalog__item-subtitle">Автономная работа</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconWidth.svg"
                                    alt="iconWidth.svg">
                                <p class="main_catalog__item-subtitle">Ширина захвата 10 м</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconFuel.svg"
                                    alt="iconFuel.svg">
                                <p class="main_catalog__item-subtitle">Емкость бака 30 литров</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/IP67.svg" alt="IP67.svg">
                                <p class="main_catalog__item-subtitle">Водонепроницаемость</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_catalog__card slider__card-4">
                <div class="main_catalog__card-img-block">
                    <img class="main_catalog__card-img" src="./assets/catalog/agras_16.webp" alt="dji_agras_16.webp">
                </div>
                <div class="container">
                    <div class="main_catalog__card-content">
                        <h1 class="main_catalog__title">Дрон картограф DJI Agras T16</h1>
                        <ul class="main_catalog__list">
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/cartography/iconTime.svg"
                                    alt="iconTime.svg">
                                <p class="main_catalog__item-subtitle">Непрерывная работа 24/7</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/icoFly.svg" alt="icoFly.svg">
                                <p class="main_catalog__item-subtitle">Максимальная скорость 4,8 л/мин</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconWidth.svg"
                                    alt="iconWidth.svg">
                                <p class="main_catalog__item-subtitle">Для полной зарядки затрачивается всего лишь
                                    20 минут</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/iconFuel.svg"
                                    alt="iconFuel.svg">
                                <p class="main_catalog__item-subtitle">Емкость бака 16 литров</p>
                            </li>
                            <li class="main_catalog__item">
                                <img class="main_catalog__item-img" src="./assets/catalog/IP67.svg" alt="IP67.svg">
                                <p class="main_catalog__item-subtitle">Водонепроницаемость</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{{body}}}
</body>
</html>